<nav>
    <div>
        <form action="/search" method="POST">
            <input name="search" type="search" placeholder="Search""
                aria-label="Search">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="dropdown">
        <button type="button" data-toggle="dropdown" style="position:absolute ; right:0;">
          Category
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/news/business">Business</a>
          <a class="dropdown-item" href="/news/entertainment">Entertain</a>
          <a class="dropdown-item" href="/news/general">General</a>
          <a class="dropdown-item" href="/news/health">Health</a>
          <a class="dropdown-item" href="/news/technology">Technology</a>
          <a class="dropdown-item" href="/news/sports">Sports</a>
          <a class="dropdown-item" href="/news/science">Science</a>

        </div>
      </div>
</nav>
